<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>단어 맞추기</title>
</head>
<body>
<h3>{{word}}</h3>
<br>
{% for i in choices %}

    {% if i == definition %}
        <button type="button" onclick="window.location.reload()">{{i}}</button>
        <br>
        <br>
    {% else %}
        <form action="" method="post">
        {% csrf_token %}
                <button type="submit" name="wrong_choice" value="false" onclick="alert('틀렸습니다!')">{{i}}</button>

        <br>
        <br>
        </form>
    {% endif %}

{% endfor %}

</body>
</html>